@use './../../scss/variables.scss'as *; 
.banner {
  position: relative;
  border-radius: 25px;
  margin-bottom: 33px;

  h1 {
    position: absolute;
    font-size: 48px;
    font-weight: 700;
    top: 39%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    // mix-blend-mode: overlay;
   
  }

  img {
    height: 223px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
    filter: brightness(80%);
    

  }
  @media screen and (width<=1429px){
    h1{
      top: 39%;
      left: 26%;
      transform: translate(-15%, -50%);
    }
  }
  @media screen and (width<=1000px){
    h1{
      top: 39%;
      left: 1%;
      transform: translate(1%, -50%);
    }
  }
  @media screen and (width<=800px){
    img{
      height: 111px;
    }
    h1{top: 39%;
    left: 3%; 
    transform: translate(0%, -50%);
    font-size: 24px;
   }
}
}