
@use './../../scss/variables.scss'as *; 
.banner{
    /* position: relative; */
    background-image: url("img1.png");
    background-position: center;
    /* background-size: cover; */
    /* margin: auto; */
    height: 223px;
  max-width: 100%;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: $color-tertiary ;
    opacity: 90%;
   margin-bottom: 3rem;
    background-repeat: no-repeat;
    text-align: center;
    @media screen and (width<=768px){
      text-align: start;
      font-size: 14px;
      font-weight: 700;
      padding: 0 20px;
}
}