@use "./../scss/variables.scss" as *;
.error{
    color: $color-primary;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    & p{
        font-size: 36px;
        font-weight: 500;
        margin:140px 0 120px 0;
    }
    & a{
        color: black;
    }
    & .error__404{
        margin-top: 222px;
    }
    @media screen and (width<=768px){
 .error__404{
    width: 100px;
}
}
}
