@use "./../scss/variables.scss" as *;
.appart {


.Appart__draft__flex{
    display: flex;
   justify-content: space-between;
   gap: 33px;
   @media screen and (width<=768px) {
    flex-direction: column;
}
}
}
