@use './../../scss/variables.scss'as *;
.main{
   
 background-color:$color-tertiary; 
padding-inline: 55px; 
 padding-bottom: 33px; 
 @media screen and (width<=768px){
    padding-inline: 20px;
 }
 }